/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: "Normal22";
  src: url("../public/gunplay/gunplay.otf");
}
:root {
  --maincolor: #181818;
  --fontsize: 14vw;
  --vt-c-white: #181818;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: #181818;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#app {
  font-weight: normal;
}


/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f2d51;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #54feff;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--maincolor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  transition: all .4s;
  background-color: #181818;
  color: azure;
  user-select: none;
  line-height: 0.1;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.main-color-background {
  background-color: var(--maincolor);
}
.counter-font {
  font-family: "Normal22";
}
.title-count {
  font-size: var(--fontsize);
  transition: all .5s;
}

.asd { 
  color: #00ff00;
  color: #f700ff;
  color: #09b9ff
}
.dots-main {
  margin-top: -20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-under-word-countdow { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  bottom: -38px;
}
.countdown-container-number {
  height:var(--fontsize);
  display: flex;
  align-items: center;
}
.days {
  color: rgb(0, 255, 255);
}
.minutes {
  color: rgb(255, 145, 0);
}
#container-fixed {
  transition: all 2s;
  z-index: 2;
  overflow: hidden;
}
#container-fixed::before {
  content: "";
  position: absolute;
  margin: 0;
  margin-left: -20px;
  z-index: 0;
  width: 2750px;
  height: 2750px;
  background: linear-gradient(
    90deg,
    rgba(194, 24, 24, 1) 0%,
    rgb(174, 0, 255) 29%,
    rgba(16, 237, 32, 1) 100%
  );
  animation: move-border 5s linear infinite;
}
@keyframes move-border {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
input { 
  outline: 0;
  background: transparent;
  padding: 7px;
  line-height: normal;
  color: aliceblue;
}

.border-component-etc {
  transition: all .3s;
  border: 1px solid rgba(78, 78, 78, 0.226);
  border-radius: 12px;
}

/* login */

.main-login-container {
  box-shadow: 2px 5px 6px 0px #2c2c2cf6;
}
.text-color {
  color: rgba(250, 250, 250, 0.658);
  transition: all 0.1s;
}
.text-color:hover {
  color: rgba(250, 250, 250, 0.89);
}

.input-container-login {
  padding: 6px;
  border-radius: 6px;
  border-color: rgba(83, 83, 83, 0.582);
}
.input-container-login:focus-within {
  border-radius: 6px;
  border-color: rgba(121, 121, 121, 0.637);
}
.container-user-login:focus-within p {
  color: rgba(250, 250, 250, 0.89);
}

/* Addcountdown */
.text-above-forms { 
  color: rgba(250, 250, 250, 0.658);
}
.button-form { 
  border-radius: 6px;
  transition: all .3s;
}
.button-form:hover { 
  border-radius: 6px;
  background-color: white;
  color: black;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-container {
  border-radius: 6px;
  border-color: rgba(83, 83, 83, 0.582);
}

input[type="email"] {
  text-transform: lowercase;
}
.container-email-input {
  display: grid;
  transition: 4s opacity;
  opacity: 1;
}
.container-before-count {
  width: calc(92vw);
}

#father-anim {
  transition: all .2s;
 }

#father-anim:hover #child-anim {
 animation: initial-anchor .4s forwards ;
 visibility: visible;
}

@keyframes initial-anchor {
  0% { 
    transform: translateX(-60px);

  }
  100% { 
    transform: translateX(0) rotate(20deg);
  }
}