@font-face {
  font-family: 'Normal22';
  src:  url('../public/gunplay/gunplay.ttf')
}
html, body { 
  background-color: black;
  color: azure;
  font-family: 'Normal22';
  user-select: none;
  line-height: .1;
}

.dots-main { 
  margin-top: -20px;
}
.days { 
  color: rgb(0, 255, 255);
}
.minutes { 
  color: rgb(255, 145, 0);
}

.text-under-numbers { 
  text-align: center;
}